body {
    background-image: url(https://www.google.com/maps/uv?pb=!1s0x87df3736e789c34b:0x4ba965173653e5ba!3m1!7e115!4shttps://lh5.googleusercontent.com/p/AF1QipPjF7UJb9pPn5HxEgs1MI9txq0dsSyx23Dw6rin%3Dw210-h112-k-no!5srussell+elementary+school+-+Google+Search!15zQ2dJZ0FRPT0&imagekey=!1e10!2sAF1QipPjF7UJb9pPn5HxEgs1MI9txq0dsSyx23Dw6rin&hl=en&sa=X&ved=2ahUKEwiwnuCIm7nzAhW4GFkFHUvDAb8Qoip6BAhlEAM);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  