.topbar{
    width: 600%;
    height: 80px;
    background-color:rgb(199, 194, 194);
    position: sticky;
    margin-top: 0%;
    z-index: 999;
}

.topbarWrapper{
    height: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-weight:bold;
    font-size: 30px;
    margin: top 10px;
    color: red;
    font-style: bold;

}
.logo2{
    font-weight: normal;
    padding: 20px ;
    font-style: italic;
    color: rgb(12, 11, 11);
}

.topavatar{

    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: right;



}
.topLeft{
    size: 60px;

}